name: Main CI

on:
  pull_request:
    branches:
      - "main"

jobs:
  all-status-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - ci-req-check
      - yaml-lint
      - action-lint
      - setup-node
      - matrix-output-write-test
      - post-step-check
      - github-app-token-check
    steps:
      - name: All status check
        run: echo "All status check passed"

  ci-req-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Check all-status-check
        run: |
          diff \
            <(yq ".jobs | del(.all-status-check) | keys.[]" .github/workflows/ci.yml) \
            <(yq ".jobs.all-status-check.needs.[]" .github/workflows/ci.yml)

  yaml-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-yamllint@f01d8a48fd8d89f89895499fca2cff09f9e9e8c0 # v1.21.0
        with:
          level: warning
          yamllint_flags: "-c .yamllint ."
          fail_on_error: true

  action-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-actionlint@e58ee9d111489c31395fbe4857b0be6e7635dbda # v1.70.0
        with:
          level: warning
          fail_on_error: true

  setup-node:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./setup-node

  matrix-output-write-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: ./matrix-output-write
    steps:
      - uses: actions/checkout@v6
      - uses: shiron-dev/actions/setup-node@9e2029b6bf55740748a5eace94dc93d97a1496ba # v1.5.2
      - name: Run install
        run: |
          pnpm install --frozen-lockfile
      - name: Run lint
        run: |
          pnpm run lint
      - name: Run type-check
        run: |
          pnpm run type-check
      - name: Run build
        run: |
          pnpm run build

  post-step-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./post-step
        with:
          run: echo "Run post step"
          post: echo "Post step"
      - uses: ./post-step
        with:
          post: echo "Post step2"

  github-app-token-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./post-step
        with:
          post: |
            GITHUB_TOKEN="${GITHUB_APP_TOKEN}" gh pr status
            if [ $? -eq 0 ]; then
              echo "Failed to run gh pr status"
              exit 1
            fi
      - uses: ./github-app-token
        id: github-app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - name: Check token
        run: |
          echo "GITHUB_APP_TOKEN=${{ steps.github-app-token.outputs.token }}" >> "${GITHUB_ENV}"
          GITHUB_TOKEN="${{ steps.github-app-token.outputs.token }}" gh pr status
