name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      release-created: ${{ steps.release.outputs.release_created }}
      pr: ${{ steps.release.outputs.pr }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Release please
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          release-type: simple
  build:
    runs-on: ubuntu-latest
    needs: release-please
    timeout-minutes: 10
    if: ${{ needs.release-please.outputs.pr != '' }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ fromJson(needs.release-please.outputs.pr).headBranchName }}
      - uses: shiron-dev/actions/setup-node@9e2029b6bf55740748a5eace94dc93d97a1496ba # v1.5.2
      - name: Run install
        working-directory: ./matrix-output-write
        run: |
          pnpm install --frozen-lockfile
      - name: build matrix-output-write
        working-directory: ./matrix-output-write
        run: |
          pnpm run build
      - name: Commit changes
        run: |
          git add -f matrix-output-write/dist
          if git diff --cached --quiet; then
            echo "No changes to the output. Exiting."
            exit 0
          fi
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git commit -m "chore: build matrix-output-write"
          git push
          echo "Changes committed"
